- if !user_signed_in?
	.jumbotron
		%h1 Your Favorite Movies Reviewed
		%p Keffiyeh Intelligentsia Echo Park 90's vinyl Pinterest, butcher gastropub pickled Carles lumbersexual street art letterpress jean shorts Thundercats.
		%p= link_to "Sign Up To Write A Review", new_user_registration, class: "btn btn-primary btn-lg"

.row
	- @movies.each do |movie| 
		.col-sm-6.col-md-3
			.thumbnail
				= link_to (image_tag movie.image.url(:medium), class: 'image'), movie
